#container{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#navbar{
  position: fixed;
  top: 0;
  max-width: 700px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #111;  
}

#navbar a{
  color: white;
  text-decoration: none;
  font-family: 'Jura', sans-serif;
}

#main{
  max-width: 700px;
  background: #111;
  display: flex;
  margin-top: 40px;
}

#left{
  width: 40%;
  background: #222;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#right{
  width: 60%;
  background: #222;
  margin: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
}

img {
  position: absolute;
  object-fit: cover;
  width: 267px;
  height: 350px;
  margin-bottom: 300px;
}

#namebox{
  position: relative;
  top: 370px;
  left: 50px;
  color: #DDD;
  text-shadow: 1px 1px 20px #000;
}

#name{
  color: #DDD;
  padding: 0;
  margin: 0;
  font-size: 50px;
  font-family: 'Audiowide', cursive;
}
#greeting{
  padding: 0;
  margin: 0;
}

.summary{
  padding: 20px 10px 10px 10px;
  color: #BBB;
  font-family: 'Jura', sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

.boxes{
  padding: 10px 10px 10px 10px;
  color: #BBB;
  font-family: 'Jura', sans-serif;
  font-size: 15px;
}


.quote {
  background: #333;
  font-family: 'Jura', sans-serif;
  color: white;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 200px;
 
}
h2{
  color: rgb(46, 216, 151);
}

h4{
  color: rgb(88, 137, 230)
}